
body {
  margin: 0;
  padding: 0;
  background: white;
  color: white;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 200%;
  font-family: 'Nanum Gothic', sans-serif;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px #ffffff;
  color: #7c7777;

}

.top {
  position: relative;
  width: 100%;
  height: 200px;
  background: rgb(50, 50, 50);
  background: url("gen43.png");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  overflow: hidden;
  background-color: white;
  
}


.top h1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: .3em;
  font-size: 3em;
  font-weight: lighter;
}

.content-wrapper {


  padding: 1em 10%;
  background-color:  white;
}

.content-wrapper h1 {
  margin: 0;
  color: #af4458;
  font-family: 'Nanum Gothic', sans-serif;
}



.content-wrapper p {
  font-family: 'Nanum Gothic', sans-serif;
  text-indent: 1.5em;
  color: #3f3d3d;
}

.content-wrapper img {
  border-radius: 50%;
  height: 4%;
  width: 14%;
  padding: 1em 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.navbar {
  overflow: hidden;
  background-color:  #ffe877;
  font-family: 'Nanum Gothic', sans-serif;
  height: 150px;
}

.navbar a {
  float: right;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 20px 22px;
  text-decoration: none;

}


.dropdown {
  float: right;
  overflow: hidden;
}


.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}


.navbar a:hover, .dropdown:hover .dropbtn {
  color: #ffcccc;
}


.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffaa5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  box-shadow: 2px 2px 3px 3px #6e37ef;;
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: #3f3d3d;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  color: #a81732;
}


.dropdown:hover .dropdown-content {
  display: block;
}

.content-wrapper h1{
  color: white;
  text-shadow: 1px 1px 3px #000000;
  padding: 1em 10%;
}

.content-wrapper p{

  padding: 1em 10%;

}


.me {
  margin: auto;
  padding: 30px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}



@media screen and (max-width:1099px){
  #container{
    width:100%;
  }


  .me img {
    max-width: 100%;
    height: auto;

  }
}

@media screen and (max-width:700px){
  #container{
    width:100%;
  }


  .me img {
    max-width: 100%;
    height: auto;
    width: 20%;
  }
}


@media screen and (max-width:320px){
  #container{
    width:320px;
  }


  .me img {
    max-width: 100%;
    height: auto;

  }
}
footer {
  position: relative;
  width: 100%;
  height: 200px;
  background: rgb(50, 50, 50);
  background: url("foot.png");
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  overflow: hidden;
  background-color: white;
}
